#nav_bar_parent{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid black;
    /* background-color: black; */
    max-height: 10%;
}

#nav_bar_left_side{
    display: grid;
    padding: 0.5em;
    justify-items: left;
}

#nav_bar_right_side{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:repeat(4, auto);
    align-items: center;
}

#nav_bar_icon{
    height: 2em;
    width: 2em;
}

#profile_button{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%;
}

#dummy_profile_picture{
    height: 2em;
    width: 2em;
}